analyzer/_build/**
analyzer/doc/**
utils/_build/**
utils/doc/**
utils/lib/**
parsers/c/_build/**
parsers/c/doc/**
parsers/c/lib/**
parsers/python/_build/**
parsers/python/doc/**
parsers/python/lib/**
bench/**
*.native
*.byte
*~
*#