/analyzer/_build/**
/analyzer/doc/**
/analyzer/lib/**
/analyzer/Makefile

/utils/_build/**
/utils/doc/**
/utils/lib/**
/utils/Makefile

/parsers/c/_build/**
/parsers/c/doc/**
/parsers/c/lib/**
/parsers/c/Makefile

/parsers/python/_build/**
/parsers/python/doc/**
/parsers/python/lib/**
/parsers/python/Makefile

/parsers/universal/_build/**
/parsers/universal/doc/**
/parsers/universal/lib/**
/parsers/universal/Makefile

/parsers/c_stubs/_build/**
/parsers/c_stubs/doc/**
/parsers/c_stubs/lib/**
/parsers/c_stubs/Makefile


/make/constants.mk
/make/target.mk

/autom4te.cache/**
/config.log
/config.status
/Makefile
/META
/utils/src/mopsa_utils/version.ml

*.native
*.byte
*.merlin
*~
*#
