analyzer/_build/**
analyzer/doc/**
analyzer/bin/**
utils/_build/**
utils/doc/**
utils/bin/**
parsers/c/_build/**
parsers/c/doc/**
parsers/c/bin/**
parsers/python/_build/**
parsers/python/doc/**
parsers/python/bin/**
bin/mopsa
*.native
*.byte
*~
*#